<mat-toolbar>
    <span class="form-header">{{service.form.controls['$key'].value?"Edit Task":"Create New Task"}}</span>
</mat-toolbar>
<form [formGroup]="service.form" (submit)="onSubmit()">
    <div class="form-container">
        <input type="hidden" formControlName="$key">
        <mat-form-field class="example-full-width">
            <input formControlName="name" matInput placeholder="Name...">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <textarea rows="5" formControlName="description" matInput placeholder="Description..."></textarea>
        </mat-form-field>
        <input type="hidden" formControlName="created">
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>