.search-form-field {
    width: 60%;
    margin-left: 10px;
}

button {
    margin-left: 5px;
}

.deleteAll {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 12px;
}

.toggleGroup {
    margin-left: 20px;
}

.toggleBtn {
    background-color: #005CC8;
    color: #FFF; 
    font-size: 12px;
}

.toggleGroupTitle {
    display: inline-flex;
    margin-left: 15px;
}